body {
    background-image: url("../images/gradientlaptop.jpeg");
    background-color: #cccccc;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ebe6e6;
}

h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #5e6f7e;
    display: flex;
    justify-content: center;
}

#photo-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  border-radius: 8px 10px;
  box-shadow: 3px 3px #5e6f7e;
}

.about-container {
    display: flex;
    justify-content: right;
    margin: 50px;
    margin-left: 100px;
    border: 20px;
    padding: 20px;
}

p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 25px;
}

li {
    
}