.nav-container {
    display: flex;
    justify-content: center;
    /* background: linear-gradient(45deg, #A799B7, #508484, #EEF0F2); */
    background: linear-gradient(0.25turn, #8db3d5, #ebf8e1, #989b9a);
    justify-content: space-around;
    font-family: Robot, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 2px;
    border-radius: 30px;
    box-shadow: 3px 4px #5e6f7e;
    /* #3f87a6 */
    transition: all .2s ease-in-out;
}

.nav-container a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 20px;
    /* text-shadow: 2px 2px #5e6f7e; */
    text-shadow: 2px 2px 4px #000000;
  }

  .nav-container a:hover {
    background-color: #79C99E;
    border-radius: 20px;
    transform: scale(1.1);
  }

  .nav-container a.active {
    background-color: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
